h1{

color: blue;
text-align: center;
text-shadow: 4px 4px black;
}
div{
	text-align: center;
	border: top;

}
form input{
	text-align: center;
display: block;

}	
		.nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 30px;
  padding: 20px;
}
body {
  background-image: url('material.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100% 100%;
}