*{
	margin: 0;
	padding:0;
}
p{
	 font-size: 20px;

}
#cabecalho{
	height: 250px;
	 background: #E0FFFF;
	width: 90%;
	margin: 0 auto;
	border: 10px solid#cccccc;
	border-radius: 5px 5px;
}


#menu{

	 height: 450px;
	 width: 300px;
	 background: #DCDCDC;
	 float: left;
	 margin-left: 80px;
	 margin-top: 10px;
	 border: 10px solid #cccccc;
	 border-radius: 5px 5px;


}
#pagina{
	 height: 450px;
	 width: 450px;
	 background: #DCDCDC;
	 float: left;
	 margin-left: 20px;
	 margin-top: 10px;
   border: 10px solid #cccccc;
   border-radius: 5px 5px;
}
#lado{
	 height: 450px;
	 width: 30	0px;
	 background: #DCDCDC;
	 float: left;
	 margin-left: 20px;
	 margin-top: 10px;
	 border: 10px solid #cccccc;
	border-radius: 5px 5px;

}
#ladoerrado{
	 height: 450px;
	 width: 450px;
	 background: #DCDCDC;
	 float: left;
	 margin-left: 20px;
	 margin-top: 10px;
	 border: 10px solid #cccccc;
	 border-radius: 5px 5px;

	}
#rodape{
	 height: 170px;
	 width: 457px;
	 background: #D3D3D3;
     clear: both;
     width: 98%;
     margin-top: 535px;
   border-radius: 5px 5px;
	border: 10px solid #cccccc; 	
    
		}

#catar {
	width: 310px;
}
#textoa {
	width: 200px;

}
#lado{
 width: 300px;
}